*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------- */
/* ------------- General ------------- */
/* ----------------------------------- */

.nav-link{
    border-style: solid;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .4rem;
    margin-bottom: .2rem;
    text-align: center;
}

.hamburguesa{
    margin-top: .4rem;
    margin-bottom: .2rem;
}

nav{
    background-color: #0bd3ab;
}

.espaciado{
    justify-content: space-between;
    padding: 0.7rem 10%;
    background-color: #87e1cf;
}

footer{
    min-height: 4vh;
    background-color: #87e1cf;
    padding-top: 0.6rem;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    justify-content: space-between;
}

body{
    background-color: rgb(217, 217, 217);
    padding-top: 22vh;
    padding-bottom: 5vh;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5rem;
}

th{
    background-color: rgb(102, 194, 202);
    text-align: center;
    font-weight: 800;
}

.card{
    background-color: rgb(228, 250, 241);
    transition: box-shadow 1s;
    border: solid;
    border-width: 1px;
}

.card:hover{
    transition: box-shadow 1s;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.594);
}

.btn-info{
    background-color: #acfae9;
    border-color: rgb(146, 146, 146);
}

.form-check-input{
    border: solid;
    border-width: 2px;
    
}

a{
    font-weight: bold;
}

table{
    margin-bottom: 2rem;
}

tr{
    background-color: rgb(195, 194, 194);
}




/* --------------------------------- */
/* ----------- home.html ----------- */
/* --------------------------------- */

.contenedor1{
    padding: 1rem;
    padding-top: 2rem;
}

.contenedor1 label{
    padding-right: 1rem;
    padding-left: 0.5rem;
}

#containerCheck{
    padding-top: 0.4rem;
}

.area-texto{
    border-radius: 0 !important;
    border-style: solid;
    border-color: #2a075b;
    width: 15rem;
}

.contenedor2{
    gap: .5rem !important;
    padding-bottom: 5rem;
}

.card-img-top{
    height: 12rem;
}



/* ---------------------------------- */
/* ------ upcoming_events.html ------ */
/* ---------------------------------- */


/* ---------------------------------- */
/* ---------- contact.html ---------- */
/* ---------------------------------- */

.contact-form{
    flex-direction: column;
    align-content: center;
    padding: 1rem;
}

.contact-form>label{
    padding-top: .2rem;
    width: 30vw;
}

.contact-form>button{
    margin-top: .4rem;
    height: 2rem;
    align-self: flex-end;
    width: 7rem;
}



/* ---------------------------------- */
/* ---------- details.html ---------- */
/* ---------------------------------- */

.contenedor3{
    margin: 5%;
    gap: 2rem;
    padding: 5%;
}

.contenedor3-texto{
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#detail_card{
    margin-top: -3rem;
    background-color: rgb(170, 221, 215);
}

#detail_card p{
    margin-bottom:-10px;
}

#card-font{
    font-size: larger;
}

.body-size{
    width: 100vw;
    height: 90vh;
}

@media (max-width: 440px) {
    #detail_card{
        height: 100vh !important; 
    }
    .body-size{
        width: 100vw;
        height: 120vh;
    }
}



/* ---------------------------------- */
/* ----------- stats.html ----------- */
/* ---------------------------------- */

.subCategory{
    background-color: rgb(147, 218, 225);
    width: 25vw;
}

